type sensors_efs_file, file_type;
type sysfs_camera, fs_type, sysfs_type;
type sysfs_display, fs_type, sysfs_type;
type sysfs_sec, fs_type, sysfs_type;
type sysfs_vibeamp, fs_type, sysfs_type;
type wifi_efs_file, file_type;
type nfcfelica_device, file_type;
type nfc_device, file_type;
type felicashell_device, file_type;
type felica_device, file_type;
type fsslcmnd_exec, file_type;
type mfdp_exec, file_type;
type mfsc_exec, file_type;
